<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
	<appender name="CONSOLE"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} : %30logger{5} -	%msg%n
			</pattern>
		</encoder>
	</appender>
	
	<logger name="logging.level.com.plum.apicalltest" level="DEBUG" />
	<logger name="org.springframework" level="OFF" />
	<logger name="org.thymeleaf" level="OFF" />

	<!-- 로그 전역 세팅 -->
	<root level="DEBUG">
		<!-- 위에 설정한 콘솔 설정 추가 -->
		<appender-ref ref="CONSOLE" />

	</root>

</configuration>
